<hibernate-configuration>

<session-factory>

<!-- Database Connection Setting -->

<property name = "hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>

<property name = "hibernate.connection.url">jdbc:mysql://localhost:3306/Employees</property>

<property name = "hibernate.connection.username">root</property>

<property name = "hibernate.connection.password">surya</property>

<!--  hibernate Setting -->

<property name = "hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

<property name = "hibernate.show_sql">true</property>

<property name = "hibernate.format_sql">true</property>

<!-- Mapping Entity -->

<mapping class = "com.hibernate.project.EmpManagementApp.Employee"/>


</session-factory>

</hibernate-configuration>